<h1>Playlister</h1>

<ul>
  <li><a href="artists/index.html">Artists - <%= Artist.count %></a></li>
  <li><a href="genres/index.html">Genres - <%= Genre.count %></a></li>
  <li><a href="songs/index.html">Song - <%= Song.count %></a></li>
</ul>